<header>
  <div>
    <%= link_to "キッチンカー日記", root_path %>
    <nav>
      <%= link_to "投稿一覧", posts_path %>
      <%= link_to "ログイン", new_user_session_path %>
      <%= link_to "ログアウト", destroy_user_session_path, data: { turbo_method: :delete } %>
      <%= link_to "新規登録", "#" %>
    </nav>
  </div>
</header>

<div>
  <h1>キッチンカー日記</h1>
  <p>キッチンカーを利用した体験を共有できるレビュー投稿アプリです。  「どのキッチンカーが美味しかったか」「どんな体験ができたか」を投稿・閲覧することで、キッチンカーの魅力を発信します。</p>
</div>

<div>
  <h2>新着投稿</h2>
</div>
