<div class="text-center my-5">
  <h1>キッチンカー日記</h1>
  <p class="my-5">キッチンカーを利用した体験を共有できるレビュー投稿アプリです。<br>「どのキッチンカーが美味しかったか」「どんな体験ができたか」を投稿・閲覧することで、キッチンカーの魅力を発信します。</br></p>

  <div class="d-flex justify-content-center gap-3 mb-3">
    <%= link_to '新規登録', new_user_registration_path, class: "btn btn-primary btn-lg" %>
    <%= link_to 'ログイン', new_user_session_path, class: "btn btn-primary btn-lg" %>
  </div>
</div>

<div>
  <div class="text-center my-5">
    <h2>新着投稿</h2>
  </div>
  <div class="row">
    <% @posts.each do |post| %>
      <div class="col-md-4">
        <div class="card h-100 mb-3">
          <div class="card-body">
            <div class="post-card">
              <div class="row justify-content-evenly">
                <div class="col-4">
                  <% if post.images.attached? %>
                    <%= image_tag post.images.first, class: "img-fluid mb-3" %>
                  <% else %>
                    <%= image_tag "default.png", class: "img-fluid" %>
                  <% end %>
                </div>
                <div class="col-4">
                  <h3><%= post.title %></h3>
                  <p>出店場所：<%= post.place %></p>
                  <p>投稿日：<%= l(post.created_at, format: :short) %></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
