<div class="card m-4  shadow-sm rounded-3" style="background-color: #ffffe0;">
  <h2 class="text-center mt-4">検索</h2>
  <%= search_form_for @q do |f| %>

    <div class="d-flex gap-5 ">

      <!-- キーワード検索 -->
      <div class="m-4 ms-5 flex-grow-1">
        <div data-controller="autocomplete" data-autocomplete-url-value="<%= autocomplete_posts_path %>" role="combobox">
          <%= f.label :title_or_kitchen_car_name_or_body_or_place_or_tags_name_cont, "検索ワード", class: "form-label" %><br>
          <%= f.search_field :title_or_kitchen_car_name_or_body_or_place_or_tags_name_cont, class: "w-100", placeholder: "キーワードを入力...", data: { autocomplete_target: 'input' } %>
          <%= f.hidden_field :title, data: { autocomplete_target: 'hidden' } %>
          <ul class="list-group" data-autocomplete-target="results"></ul>
        </div>
      </div>

      <!-- カテゴリ選択 -->
      <div class="mt-4 flex-grow-1">
        <%= f.label :category_id_eq, "カテゴリーを選択する", class: "form-label" %><br>
        <%= f.collection_select :category_id_eq, Category.where.not(id: 0), :id, :name,
              { include_blank: "カテゴリーを選択" }, class: "w-100" %>
      </div>

      <!-- ボタン -->
      <div class="mt-5 me-3 flex-shrink-0">
        <%= f.submit "検索", class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>

<h2 class="text-center mt-5">投稿一覧</h2>

<div class="d-flex justify-content-end"> 
  <%= sort_link(@q, :created_at, "作成日", class: "m-2") %>
  <%= sort_link(@q, :star, "評価順", class: "m-2") %>
</div>

<div class="row g-3 posts-wrapper">
  <% @posts.each do |post| %>
    <div class="col-md-4 d-flex mb-3">
      <%= render post %>
    </div>
  <% end %>
</div>
